<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/discussions/new">Create Discussion</a></li>
    <li><a href="/goals">Goals</a></li>
    <li><a href="/books">Books</a></li>
    <li><a href="/goals/new">Create Goal</a></li>
  </ul>
</nav>
